<div class="centered-container">
  <div class="title-box mt-3 p-2">{{ country }}</div>
</div>

<div class="d-flex justify-content-center">
  <div class="custom-box m-3 p-2">
    <p class="m-0">Numbers of entries</p>
    <p class="m-0"><b>{{ nrOfEntries }}</b></p>
  </div>
  <div class="custom-box m-3 p-2">
    <p class="m-0">Total number of medals</p>
    <p class="m-0"><b>{{ nrOfMedalsInTotal }}</b></p>
  </div>
  <div class="custom-box m-3 p-2">
    <p class="m-0">Total numbers of athletes</p>
    <p class="m-0"><b>{{ nrOfAthletes }}</b></p>
  </div>
</div>

<div class="d-flex flex-column mx-auto align-items-center">
  <div id="loading" *ngIf="chartData?.length==0">
    <mat-spinner diameter="80" mode="indeterminate"></mat-spinner>
  </div>
  <ngx-charts-line-chart
    [results]="chartData"
    [xAxis]=true
    [yAxis]=true
    [showXAxisLabel]=true
    [legend]=false
    xAxisLabel="Dates">
    <ng-template #tooltipTemplate let-model="model">
      <div class="custom-tooltip">
        <p class="m-0 p-1">🏅 {{ model.value }}</p>
      </div>
    </ng-template>
  </ngx-charts-line-chart>
  <button class="btn m-2" routerLink="">Go back</button>
</div>
